.header {
    width: 92.4%;
    max-width: 1184px;
    min-width: 288px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; */
    padding: 28px 0px 0px 0px;
    /* padding: 28px 3.8% 0px 3.8%; */
}

@media screen and (max-width: 1440px) {
    .header {
        
}}

@media screen and (max-width: 1024px) {
    .header {
        width: 90.6%;
        /* padding: 28px 4.7% 0px 4.7%; */
}}

@media screen and (max-width: 768px) {
    .header {
        width: 93.8%;
        /*padding: 28px 3.1% 0px 3.1%;*/
}}

@media screen and (max-width: 425px) {
    .header {
        width: 90%;
        padding: 16px 0px 0px 0px;
        /*padding: 16px 5% 0px 5%; */
}}

@media screen and (max-width: 320px) {
    .header {
    
    
}} 