.intro__text {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 33px;
}

@media screen and (max-width: 1440px) {
    .intro__text {

}}

@media screen and (max-width: 1024px) {
    .intro__text {
}}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: calc(100vw - 48px);
}}

@media screen and (max-width: 425px) {
    .intro__text {
        max-width: calc(100vw - 32px);
}}

@media screen and (max-width: 320px) {
    .intro__text {
    
}} 