.lead__subtitle {
    max-width: 640px;
    /* min-width: 80%; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: center;
        justify-self: center;
        padding-bottom: 64px;
    }

    @media screen and (max-width: 1440px) {
        .lead__subtitle {
            
            
    }}
    
    @media screen and (max-width: 1024px) {
        .lead__subtitle {
            padding-bottom: 56px;
    }}
    
    @media screen and (max-width: 768px) {
        .lead__subtitle {
            
    }}

    @media screen and (max-width: 670px) {
        .lead__subtitle {
            font-size: 24px;
            line-height: 30px;
            padding-bottom: 40px;
            max-width: 90%;
    }}
    
    @media screen and (max-width: 425px) {
        .lead__subtitle {
            font-size: 16px;
            line-height: 20px;
            
    }}
    
    @media screen and (max-width: 320px) {
        .lead__subtitle {
            
    }}