.cover {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 92px 3.8% 0px 3.8%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

@media screen and (max-width: 1440px) {
    .cover {
        
}}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 92px 0px 0px 0px;
}}

@media screen and (max-width: 768px) {
    .cover {
}}

@media screen and (max-width: 425px) {
    .cover { 
        padding: 66px 0px 0px 0px;
}}

@media screen and (max-width: 320px) {
    
}} 