.cover__overlay {
    background: #2A2C2F;
    opacity: 0.3;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 2;
}

.cover__item:hover .cover__overlay {
    opacity: 0.8;
}

