.place {
    max-width: 984px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 48px 18px;
}
@media screen and (max-width: 1440px) {
    .place {
        
        
        
}}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 16px;
}}

@media screen and (max-width: 768px) {
    .place {
        gap: 28px;
}}

@media screen and (max-width: 620px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
}}

@media screen and (max-width: 320px) {
    .place {
        
        
}}